
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Form</title>
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <main>
    	<div class="container">
  			<div class="row" id="form">
				<div class="col s12 m9 l10">
					
						<p class="range-field">
							<label>Number of Days</label>
      						<input type="range" name="range" id="days" min="0" max="100" />
    					</p>
    					<div id="date-picker" class="section scrollspy">
				        	<label for="birthdate">Start Date</label>
				        	<input id="date" name="date" type="text" class="datepicker"></input>
						</div>
						<button  onclick="schedule_callback()"class="btn btn-info">Schedule</button>
					
        		</div>
  			</div>
            <div class="row" id="schedule">
                <div class="col s12 m9 l10">
                    schedule goes here
                </div>
            </div>
  		</div>
	</main> 
    <!--  Scripts-->
    <script src="static/js/dates.js">
    </script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }
    </script> 
    <script src="http://materializecss.com/bin/materialize.js"></script>
    <script src="http://materializecss.com/js/init.js"></script>
    <script type="text/javascript">
    	
        function schedule_callback()
        {
            var date = document.getElementById("date").value;

            var range = document.getElementById("days").value;
            var dates = new Date(date);
            var dates = dates.toISOString();
            
           
            var url = "/schedule";
            var params = "range="+range+"&date="+dates;
            
            $.post(url,params).done(function( data ) {
                alert(data);
            });


        }
    </script>

  </body>
</html>