
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Intigrent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://sourcenxt.in/ctf/hackrank/css/bootstrap.css">
  <link rel="stylesheet" href="http://sourcenxt.in/ctf/hackrank/css/style.css">
  <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>

	
	<main>
    	<div class="container">
  			<div class="row" id="form">
				<div class="col s12 m9 l10">
					<button onclick="checkAuth()" class="btn btn-info">Authorize</button>
					<br />
        		</div>
  			</div>
  		</div>
	</main> 

<!--  Scripts-->
    <script src="static/js/schedule.js">
    </script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }
    </script> 
    <script src="http://materializecss.com/bin/materialize.js"></script>
    <script src="http://materializecss.com/js/init.js"></script>
    <script src="https://apis.google.com/js/client.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://sourcenxt.in/ctf/hackrank/js/bootstrap.js" ></script>
</body>
</html>